* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -------------------------------------------------HTML----------------------------------------------- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

.offscreen {
  display: none;
}

.show {
  display: contents;
}

.show-flex {
  display: flex;
}

:root {
  --default-white: #fff;
  --default-red: rgb(240, 53, 69);
  --default-dark: #2b2a2a;
  --default-green: #0f0;
  --light-green: #44d644;
  --nav-dark: #282c34;
  --transparent-color: rgba(0, 0, 0, 0);
  --light-blue: #61dafb;
  --default-blue: #0000ff;
  --fav-blue: rgb(0, 162, 255);
  --dark-blue: rgb(5, 90, 255);
  --dark-trans-blue: rgba(5, 2, 46, 0.9);
  --invalid: rgb(255, 187, 0);
  --orange: rgb(255, 136, 0);
  --bg-white: white;
  --white: #fbfbfb;
  --dim-white: #ffffffa7;
  --transparent-black: rgba(0, 0, 0, 0.9);
}

body {
  background-color: var(--nav-dark) !important;
  font-family: Square721 BT !important;
}

#tab {
  margin-left: 10px;
  color: var(--nav-dark) !important;
}

#orange {
  color: var(--invalid);
}

#white {
  color: white !important;
}

#red {
  color: var(--default-red) !important;
}

#gray {
  color: gray !important;
}

#blue {
  color: rgb(0, 162, 255) !important;
}

#pink {
  color: rgb(224, 57, 113) !important;
}

#green {
  color: #33ee33 !important;
}

.bg-blue {
  background-color: rgb(76, 0, 255) !important;
}

/* ------------------------------------------------- Navbar ----------------------------------------------- */

#nav {
  background: var(--nav-dark);
  height: 10vh;
  color: var(--white);
  overflow: hidden;
  box-shadow: 0px 0px 10px #000;
}

.my-logo {
  margin: 0 2rem 0 2rem;
  font-weight: bold;
  color: var(--fav-blue);
}

.my-logo h1 {
  font-weight: bold;
}

.site-logo:hover {
  cursor: pointer;
}

#nav ul {
  margin-right: auto;
  gap: 1em;
}

#nav ul li a {
  background-color: var(--transparent-color) !important;
  font-size: 15px;
  color: var(--white);
}

#nav ul li a:hover {
  color: var(--fav-blue);
}

#nav .nav-contact {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 1.5rem;
}

#nav .nav-contact .github-link {
  color: var(--bg-white);
  border-radius: 5px;
  border: 2px solid var(--bg-white);
  padding: 8px 20px 8px 20px;
}

#nav .nav-contact .github-link:hover {
  background-color: white !important;
  color: var(--nav-dark);
}

#nav .nav-contact .facebook-link {
  color: var(--fav-blue);
  border-radius: 5px;
  border: 2px solid var(--fav-blue);
  padding: 8px 20px 8px 20px;
}

#nav .nav-contact .facebook-link:hover {
  background-color: var(--fav-blue) !important;
  color: white;
}

#nav div a {
  background-color: var(--transparent-color) !important;
  font-size: 15px;
  color: var(--white);
  text-decoration: none;
}

#nav div a:hover {
  color: var(--fav-blue);
}

#nav .v-line {
  height: 5vh;
  width: 2px;
  background-color: var(--white);
}

/* ------------------------------------------------- Sidebar ----------------------------------------------- */

.sidebar-btn {
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.sidebar-btn {
  display: none;
}

.sidebar {
  position: fixed;
  width: 80vw;
  height: 100vh;
  background-color: var(--nav-dark);
  transition: 0.5s;
  box-shadow: 0 0 20px #000;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 100;
}

.sidebar ul {
  position: fidex;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar ul li {
  margin-top: 0vh;
  width: 100%;
  padding: 1rem;
  display: inline;
  margin-bottom: 10px;
}

.sidebar li:nth-child(1) {
  margin-top: 20vh;
}

.sidebar ul li a {
  color: var(--white);
  font-size: 17px;
  text-decoration: none;
}

.sidebar .nav-contact {
  position: absolute;
  bottom: 0%;
  display: flex;
  gap: 1rem;
  padding: 10px;
}

.sidebar .nav-contact .github-link {
  border-radius: 5px;
  border: 2px solid var(--bg-white);
  padding: 8px 20px 8px 20px;
  background-color: white !important;
  color: var(--nav-dark);
  text-decoration: none;
}

.sidebar .nav-contact .facebook-link {
  border-radius: 5px;
  border: 2px solid var(--fav-blue);
  padding: 8px 20px 8px 20px;
  background-color: var(--fav-blue) !important;
  color: white;
  text-decoration: none;
}

.home-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../public/images/tech-bg.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: color;
  padding: 0 6rem 1rem 6rem;
  color: white;
}

.home-section .topic {
  position: absolute;
  top: 17%;
  left: 15%;
  color: var(--invalid);
  font-size: 15px;
}

.home-section .intro {
  margin-right: auto;
  width: max-content;
  text-align: left;
}

.home-section .intro .typed-text {
  color: var(--fav-blue);
  font-weight: bold;
}

.home-section .job {
  font-weight: bold;
}

.home-section .intro-2 {
  margin-left: auto;
}

.home-section .intro-2 .laptop {
  transform: scale(1);
}

.about-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 6rem 1rem 6rem;
}

.about-topic {
  position: absolute;
  margin-top: 6rem;
  right: 45%;
  color: var(--invalid);
  font-size: 15px;
}

.about-section .left-side {
  margin-top: 16rem;
  width: max-content;
  margin-right: auto;
  background-color: var(--fav-blue);
  border-radius: 50%;
  height: 10vh;
}

.about-section .left-side img {
  width: 25vw;
  height: 60vh;
  margin-top: -45vh;
}

.about-section .right-side {
  width: 40vw;
  padding: 3rem;
}

.about-section .right-side h1 {
  color: var(--fav-blue);
  font-weight: bold;
}

.about-section button {
  background: var(--fav-blue);
  border: 2px solid var(--fav-blue);
  padding: 10px;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 10px;
}

.about-section button a {
  text-decoration: none;
  color: white;
}

.about-section button:hover {
  background: var(--transparent-color);
  color: var(--fav-blue);
  border: 2px solid var(--fav-blue);
}

.skills-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 12rem 0em 9rem 0em;
}

.skills-topic {
  position: absolute;
  margin-top: 6rem;
  left: 5%;
  font-size: 15px;
  color: var(--invalid);
}

.skills-section h1 {
  font-weight: bold;
  color: var(--fav-blue);
}

#html-css-js-code {
  width: 20vw;
  height: 40vh;
  padding: 1rem;
  border-radius: 20px;
  overflow-y: hidden;
  box-shadow: 3px 5px 17px #000;
}

#html-css-js-code .window-top {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 10px;
}

#html-css-js-code .window-top .red {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--default-red);
  box-shadow: 0 0 3px rgb(202, 57, 57);
}

#html-css-js-code .window-top .yellow {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: 0 0 3px rgb(218, 218, 86);
}

#html-css-js-code .window-top .green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--default-green);
  box-shadow: 0 0 3px var(--light-green);
}

#frontend-code {
  width: 25vw;
  height: 45vh;
  padding: 1rem;
  border-radius: 20px;
  overflow-y: hidden;
  /* border: 3px solid var(--fav-blue); */
  box-shadow: 3px 5px 17px #000;
}


#frontend-code .window-top {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 10px;
}

#frontend-code .window-top .red {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--default-red);
  box-shadow: 0 0 3px rgb(202, 57, 57);
}

#frontend-code .window-top .yellow {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: 0 0 3px rgb(218, 218, 86);
}

#frontend-code .window-top .green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--default-green);
  box-shadow: 0 0 3px var(--light-green);
}


#backend-js-code {
  width: 30vw;
  height: 45vh;
  padding: 1rem;
  border-radius: 20px;
  overflow-y: hidden;
  /* border: 3px solid var(--fav-blue); */
  box-shadow: 3px 5px 17px #000;
}



#backend-js-code .window-top {
  width: 100%;
  height: 5vh;
  display: flex;
  gap: 10px;
}

#backend-js-code .window-top .red {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--default-red);
  box-shadow: 0 0 5px rgb(202, 57, 57);
}

#backend-js-code .window-top .yellow {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: yellow;
  box-shadow: 0 0 3px rgb(218, 218, 86);
}

#backend-js-code .window-top .green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--default-green);
  box-shadow: 0 0 5px var(--light-green);
}


.skills-section .basic .basic-code {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: react-logo-spin infinite 10s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.projects-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8em 0 4em 0;
  color: white;
}

.projects-topic {
  position: absolute;
  margin-top: 6rem;
  right: 10%;
  font-size: 15px;
  color: var(--invalid);
}

.projects-section h1 {
  font-weight: bold;
  color: var(--fav-blue);
}

.projects-section .project {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.projects-section .pro-image {
  width: 30vw;
  height: max-content;
  /* box-shadow: 0px 0px 30px #000; */
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
  padding: 3rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
  text-decoration: none;
  transform: scale(0.89);
  background: transparent;
}

.projects-section .pro-image img {
  width: 25vw;
  height: 30vh;
  margin-bottom: 3rem;
  box-shadow: 0px 0px 30px #000;
  border-radius: 10px;
}

.projects-section .pro-image img:hover {
  transform: scale(0.98);
  transition: 0.5s;
}

.projects-section .pro-title {
  font-weight: bold;
  font-size: 20px;
  color: var(--invalid);
}

/* -----------------------------------------------CONTACT SECTION ------------------------------------- */

#success-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  color: white;
  padding: 10rem 10rem 0rem 6rem;
}

.contact-topic {
  position: absolute;
  margin-top: 5rem;
  left: 45%;
  color: var(--invalid);
  font-size: 15px;
}

.contact-section h1 {
  font-weight: bold;
  color: var(--fav-blue);
}

.contact-section img {
  position: absolute;
  right: 5%;
  margin-top: 4rem;
  width: 30vw;
  height: 40vh;
  transform: rotate(350deg);
  transition: 0.5s;
  animation: shake 1s ease-out infinite;
}

@keyframes shake {
  0% {
    transform: rotate(350deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(350deg);
  }
}

.contact-section .contact-info {
  display: flex;
  flex-direction: row;
}

/* -------------------------------------------THE FORM--------------------------------------------- */

#contact-section form {
  height: max-content;
}

/* ----------------------------------------INPUT BOXS CONTAINERS */
.inputBox {
  position: relative;
  width: 60vw;
}

.inputBox_F {
  position: relative;
  width: 60vw;
}

.inputBox_E {
  position: relative;
  width: 60vw;
}

/* ----------------------------------INPUTS */

input {
  width: 40vw;
  padding: 10px;
  border: 1px solid gray;
  background: var(--nav-dark);
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
}

.inputBox .placeholder,
.inputBox input:empty + .placeholder {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: gray;
  text-transform: uppercase;
  transition: 0.5s;
  background: none;
}

.inputBox input:valid + .placeholder,
.inputBox input:focus + .placeholder {
  color: rgb(0, 162, 255);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  background-color: var(--nav-dark);
  border-right: 1px solid rgb(0, 162, 255);
  border-left: 1px solid rgb(0, 162, 255);
  opacity: 1;
}

.inputBox input:focus {
  border: 3px solid rgb(0, 162, 255);
  background-color: var(--nav-dark);
}

/* ----------------------------------------VALID INPUTS */

.inputBox input:valid:focus + .placeholder {
  color: #00ff55;
  border-right: 1px solid #00ff55;
  border-left: 1px solid #00ff55;
  background-color: var(--nav-dark);

  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  opacity: 1;
}

.inputBox input:valid:focus {
  border-color: #0f0;
}

.inputBox input:valid {
  border-color: var(--fav-blue);
}

/* ------------------------------------WARNING INPUTS */

.inputBox_F .placeholder,
.inputBox_F input + .placeholder {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: gray;
  text-transform: uppercase;
  background: none;
}

.inputBox_F input:focus + .placeholder,
.inputBox_F input:empty + .placeholder {
  color: var(--invalid) !important;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  background-color: var(--nav-dark) !important;
  border-right: 1px solid var(--invalid);
  border-left: 1px solid var(--invalid);
  opacity: 1;
}

.inputBox_F input:focus {
  border: 3px solid var(--invalid);
  background-color: var(--nav-dark);
}

/* --------------------------------------------ERROR INPUTS */

.inputBox_E .placeholder {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  color: var(--default-red) !important;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  background-color: var(--nav-dark) !important;
  border-right: 1px solid var(--default-red);
  border-left: 1px solid var(--default-red);
  opacity: 1;
}

.inputBox_E input {
  position: relative;
  border: 3px solid var(--default-red);
  background-color: var(--nav-dark);
}

.inputBox_E {
  animation: shake_input 0.15s 3;
}

/*----------------------------------------TEXTAREA */

textarea {
  width: 40vw;
  height: 20vh;
  padding: 10px;
  border: 1px solid gray;
  background: var(--nav-dark);
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
}

.inputBox .placeholder,
.inputBox textarea:empty + .placeholder {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: gray;
  text-transform: uppercase;
  transition: 0.5s;
  background: none;
}

.inputBox textarea:valid + .placeholder,
.inputBox textarea:focus + .placeholder {
  color: rgb(0, 162, 255);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  background-color: var(--nav-dark);
  border-right: 1px solid rgb(0, 162, 255);
  border-left: 1px solid rgb(0, 162, 255);
  opacity: 1;
}

.inputBox textarea:focus {
  border: 3px solid rgb(0, 162, 255);
  background-color: var(--nav-dark);
}

/* ---------------------------------------------VALID TEXTAREA */

.inputBox textarea:focus:valid + .placeholder {
  color: #00ff55;
  border-right: 1px solid #00ff55;
  border-left: 1px solid #00ff55;
  background-color: var(--nav-dark);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  opacity: 1;
}

.inputBox textarea:focus:valid {
  border-color: #0f0;
}

.inputBox textarea:valid {
  border-color: var(--fav-blue);
}

/* ----------------------------------------------WARNING TEXTAREA */

.inputBox_F .placeholder,
.inputBox_F textarea + .placeholder {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: gray;
  text-transform: uppercase;
  transition: 0.5s;
  background: none;
}

.inputBox_F textarea:focus + .placeholder,
.inputBox_F textarea:empty + .placeholder {
  color: var(--invalid) !important;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  background-color: var(--nav-dark) !important;
  border-right: 1px solid var(--invalid);
  border-left: 1px solid var(--invalid);
  opacity: 1;
}

.inputBox_F textarea:focus {
  border: 3px solid var(--invalid);
  background-color: var(--nav-dark);
}

/* ----------------------------------------------ERROR TEXTAREA */

.inputBox_E textarea {
  position: relative;
  border: 3px solid var(--default-red);
  background-color: var(--nav-dark);
}

/* -------------------------------------------ANIMATION ERROR */

@keyframes shake_placeholder {
  50% {
    margin-left: 1rem;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes shake_input {
  50% {
    margin-left: 1rem;
  }
}

/* --------------------------------------------FORM BUTTONS */

.contact-section button {
  width: 15vw;
  padding: 10px;
  font-size: 20px;
  outline: none;
  margin-bottom: 1rem;
  margin-right: 6rem;
  border-radius: 10px;
}

#success-section {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* -----------------------------------------Send button */

.send-btn {
  background: var(--fav-blue);
  border: 2px solid var(--fav-blue);
}

.contact-section .send-btn:hover {
  background: var(--transparent-color);
  color: var(--fav-blue);
  border: 2px solid var(--fav-blue);
}

.contact-section .send-btn:disabled {
  opacity: 0.5;
  border: 2px solid var(--invalid);
  background-color: var(--transparent-color);
  color: var(--invalid);
}

.contact-section .send-btn:disabled:hover {
  cursor: not-allowed;
  background-color: var(--transparent-color);
  border: 2px solid var(--invalid);
}

.show {
  color: white;
}

.hide {
  display: none;
}

.valid {
  color: lime;
}

.offscreen {
  display: none;
}

.instructions {
  color: var(--invalid);
}

.hide {
  display: none;
}

/* -------------------------------------------FOOTER SECTION------------------------------------------ */

.footer-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 10vh;
}

.footer-button-container .button {
  float: none;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: var(--nav-dark);
  border: 3px solid rgb(0, 162, 255);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-out;
}

.footer-button-container .button:hover {
  width: 200px;
}

.footer-button-container a {
  color: rgb(0, 162, 255);
  text-decoration: none;
}

.footer-button-container a:hover {
  text-decoration: underline;
  color: rgb(0, 162, 255);
}

.footer-button-container .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-button-container .button .icons {
  text-align: center;
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  margin-top: 0;
}

.footer-button-container .button .icons .icon {
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  color: rgb(0, 162, 255);
}

.footer-button-container button:hover .icon {
  color: #fff;
}


/* On Smaller Screen */

@media screen and (max-width: 850px) {
  .my-logo {
    margin-left: 2rem;
    margin-right: auto;
  }

  #nav ul {
    display: none;
  }

  #nav .nav-contact .github-link {
    display: none;
  }

  #nav .nav-contact .facebook-link {
    display: none;
  }

  .sidebar-btn {
    display: flex;
    margin-right: 2rem;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: none !important;
    background-position: bottom;
  }

  .home-section .topic {
    top: 20%;
  }

  .home-section .intro {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: max-content;
    margin-right: 0px;
  }

  .home-section .intro-2 .laptop {
    display: none;
  }

  .about-section {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 6rem;
  }

  .about-topic {
    margin-top: 5rem;
  }

  .about-section .left-side {
    margin-top: 16rem;
    width: max-content;
    margin-right: 0px;
    background-color: var(--fav-blue);
    border-radius: 50%;
    height: 10vh;
    transform: scale(0.89);
  }

  .about-section .left-side img {
    width: 70vw;
    height: 60vh;
  }

  .about-section .right-side {
    width: 100vw !important;
    padding: 1rem;
  }

  .skills-section {
    padding-bottom: 3rem;
  }

  .skills-section .topic {
    display: none;
  }

  .skills-section .basic .basic-code {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  #html-css-js-code {
    width: 70vw;
    height: 35vh;
  }

  #frontend-code {
    width: 75vw;
    height: 45vh;
  }

  #backend-js-code {
    width: 90vw;
    height: 45vh;
  }

  .projects-section {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 8rem;
  }

  .projects-topic {
    margin-top: 4rem;
  }

  .projects-section .project {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .projects-section .pro-image {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .projects-section .pro-image img {
    width: 70vw;
    height: 30vh;
    /* margin-bottom: 2rem; */
  }

  .contact-section {
    flex-direction: column;
    padding-top: 8rem;
    padding-left: 0em;
    padding-right: 0em;
  }

  .contact-topic {
    left: 35%;
  }

  .contact-section img {
    display: none;
  }

  .contact-section .contact-info {
    flex-direction: column;
  }

  .inputBox {
    width: 90vw;
  }

  .inputBox_F {
    width: 90vw;
  }

  .inputBox_E {
    width: 90vw;
  }

  input {
    width: 90vw;
  }

  textarea {
    width: 90vw;
  }

  .contact-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .footer-button-container .button:hover {
    width: 60px;
  }

  @media screen and (max-width: 320px) {
    #nav {
      height: max-content;
    }

    .sidebar-btn {
      transform: scale(0.79);
    }

    .sidebar {
      width: 75vw;
      height: 100vh;
      overflow-y: scroll;
    }

    .sidebar ul li {
      margin-bottom: 3px;
    }

    .sidebar li:nth-child(1) {
      margin-top: 15vh;
    }

    .sidebar .nav-contact .github-link {
      padding: 7px;
    }

    .sidebar .nav-contact .facebook-link {
      padding: 7px;
    }

    .home-section .topic {
      top: 15%;
    }

    .home-section {
      transform: scale(0.89);
    }

    .about-section {
      transform: scale(0.95);
    }

    #html-css-js-code {
      width: 80vw;
      height: 45vh;
    }

    #frontend-code {
      width: 85vw;
      height: 50vh;
    }

    #backend-js-code {
      width: 90vw;
      height: 65vh;
    }

    .skills-section {
      transform: scale(0.95);
    }

    .projects-section {
      transform: scale(0.95);
    }

    .contact-section {
      transform: scale(0.95);
    }

    .footer-button-container {
      transform: scale(0.95);
    }
  }
}
